<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="icon" type="image/vnd.microsoft.icon" href="{{ url_for('static', filename='images/favicon.ico') }}">




    <title>easyvoc | Report</title>
  </head>

  <body>

    <div class="alert alert-success">
      <p>Ihre Meldung wird überprüft werden</p>
    </div>
    <p class=text-muted>Sie werden automatisch Weitergeleitet</p>

    <script>
      setTimeout(function(){ location.replace("/") }, 3000);
    </script>


  </body>
</html>
