<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="icon" type="image/vnd.microsoft.icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link href="{{ url_for('static', filename='styles/cookiealert.css') }}" rel="stylesheet">



    <title>easyvoc | Passwort zurücksetzen</title>
  </head>
  <body style="margin-right: 6px;
               margin-left: 4px;
               ">
    <nav class="navbar navbar-expand-sm bg-light">

                            <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
        </ul>

    </nav>

    <h1>Passwort zurücksetzen</h1>
    <form action="/reset_password_request" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.email.label }} <br>
        {{ form.email(size=64, class_="form-control") }}<br>
        {% for error in form.email.errors %}
        <span class="error">[{{ error }}]</span>
        {% endfor %}
        {% for error in form.recaptcha.errors %}
            {{ error }}
        {% endfor %}
        {{ form.recaptcha }}
    </p>
    <p>{{ form.submit(class_="btn btn-primary") }}</p>

    <div class="alert text-center cookiealert" role="alert">

      <p>Wir benutzen Cockies um diese Website nutzerfreundlicher zu machen.</p> <a href="/datenschutz#cockies" target="_blank">Mehr erfahren</a>

      <button type="button" class="btn btn-primary btn-sm acceptcookies">OK</button>
    </div>
    <script src="{{ url_for('static', filename='scripts/cookiealert.js') }}"></script>
  </body>
</html>
