# Email Setup
MAIL_SERVER = 
MAIL_PORT = 
MAIL_USE_TLS = 
MAIL_USERNAME = 
MAIL_PASSWORD = 

# ReCAPTCHA SETUP = 
RECAPTCHA_PUBLIC_KEY = 
RECAPTCHA_PRIVATE_KEY =

# DB
MYSQL_USER = 
MYSQL_PASSWORD = 
MYSQL_HOST =
MYSQL_PORT = 

# Keys
flask_key = 
email_auth_key = 